* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

#em {
  font-size: 40px;
  font-weight: 600;
}

#price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-weight: 600;
}

#total {
  font-size: 30px;
  font-weight: 600;
  color: #198754;
  text-align: center;
}

#main {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 15%;
  margin-bottom: 60px;
}

.inp {
  width: 200px;
  height: 35px;
  border-radius: 6px;
  padding: 10px;
  border: 1px groove gray;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  color: rgb(48, 48, 48);
}
.inp:focus {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.btn {
  padding: 7px 10px;
  margin: 4px 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  font-weight: 400;
  background-color: #198754;
  color: white;
}
.btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: #1d7c50;
  box-shadow: #198754 0px 0px 5px;
}
#btn2 {
  background-color: #0d6efd;
}
#btn2:hover {
  transition: all 0.3s ease-in-out;
  background-color: #0b5ed7;
  box-shadow: #0d6efd 0px 0px 5px;
}
.btn3 {
  background-color: #dc3545;
}
.btn3:hover {
  transition: all 0.3s ease-in-out;
  background-color: #c82333;
  box-shadow: #dc3545 0px 0px 5px;
}
#tdBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

#tableDiv {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

table {
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

#tblHead {
  background-color: gray;
  color: #ccc;
  text-align: left;
}

th {
  padding: 8px 6px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

td {
  padding: 8px 6px;
  margin: 0;
  background-color: #ccc;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: 500;
}
